%div{:id => "tweet_#{tweet.id}", :class => tweet.css_classes}
  %span.user_info
    = link_to image_tag(tweet.profile_image_url, :size => "50x50"), "http://twitter.com/#{tweet.screen_name}", :target => "_blank"
  
  %span.tweet_text
    = image_tag("lock.png") if tweet.protected?
    = link_to tweet.screen_name, user_path(:id => tweet.screen_name)
    = tweet_output(tweet.text)
    %br
    %small
      = link_to(tweet.created_at, "http://twitter.com/#{tweet.screen_name}/status/#{tweet.id}", :target => "_blank")
      = "using #{tweet.source}".html_safe
      = link_to("in reply to #{tweet.in_reply_to_screen_name}", "http://twitter.com/#{tweet.in_reply_to_screen_name}/status/#{tweet.in_reply_to_status_id}", :target => "_blank") unless tweet.in_reply_to_status_id.nil?
    %div.hidden_controls{:style => "display: none;"}
      = link_to "retweet", retweet_path(:tweet_id => tweet.id), :method => :post
      = link_to_function "reply", "reply_to_tweet('#{tweet.screen_name}', '#{tweet.id}')"

- unless tweet.screen_name == @user.login
  = javascript_tag "$('#tweet_#{tweet.id}').mouseover(function() { $('#tweet_#{tweet.id} .hidden_controls').show()})"
  = javascript_tag "$('#tweet_#{tweet.id}').mouseout(function() { $('#tweet_#{tweet.id} .hidden_controls').hide()})"
