<div id="<%= "tweet_#{tweet.id}" %>" class="tweet">
  <span class="user_info">
    <%= link_to image_tag(tweet.profile_image_url, :size => "50x50"), "http://twitter.com/#{tweet.screen_name}" %>
  </span>
  
  <span class="tweet_text">
    <%= image_tag("lock.png") if tweet.protected? %>
    <%= link_to tweet.screen_name, timeline_path(:screen_name => tweet.screen_name)%>
    <%= auto_link_twitter(auto_link(tweet.text, :link => :urls, :html => { :target => '_blank'} )) %><br />
    <small>
			<%= link_to(tweet.created_at, "http://twitter.com/#{tweet.screen_name}/status/#{tweet.id}", :target => "_blank") %> using <%= tweet.source %>
			<%= link_to("in reply to #{tweet.in_reply_to_screen_name}", "http://twitter.com/#{tweet.in_reply_to_screen_name}/status/#{tweet.in_reply_to_status_id}", :target => "_blank") unless tweet.in_reply_to_status_id.nil? %>
		</small>
  </span>
</div>