<div id="<%= "tweet_#{tweet.id}" %>" class="tweet">
  <span class="user_info">
    <%= link_to image_tag(tweet.profile_image_url, :size => "50x50"), "http://twitter.com/#{tweet.screen_name}", :target => "_blank" %>
  </span>
  
  <span class="tweet_text">
    <%= image_tag("lock.png") if tweet.protected? %>
    <%= link_to tweet.screen_name, timeline_path(:screen_name => tweet.screen_name)%>
    <%= auto_link(auto_link_twitter(tweet.text), :link => :urls, :html => { :target => '_blank'} ) %><br />
    <small>
			<%= link_to(tweet.created_at, "http://twitter.com/#{tweet.screen_name}/status/#{tweet.id}", :target => "_blank") %> using <%= tweet.source %>
			<%= link_to("in reply to #{tweet.in_reply_to_screen_name}", "http://twitter.com/#{tweet.in_reply_to_screen_name}/status/#{tweet.in_reply_to_status_id}", :target => "_blank") unless tweet.in_reply_to_status_id.nil? %>
		</small>
		<div class="hidden_controls" style="display: none;">
			<%= link_to_function "reply", "reply_to_tweet('#{tweet.screen_name}', '#{tweet.id}')", :class => :reply %>
		</div>
  </span>
</div>

<% unless tweet.screen_name == current_user.login %>
	<%= javascript_tag "$('tweet_#{tweet.id}').observe('mouseover', function() { $$('#tweet_#{tweet.id} .hidden_controls').invoke('show')})" %>
	<%= javascript_tag "$('tweet_#{tweet.id}').observe('mouseout', function() { $$('#tweet_#{tweet.id} .hidden_controls').invoke('hide')})" %>
<% end %>