<%= twitter_name(@user, :link) %> (<%= @user.location %>)
<p />
<h2>Timeline</h2>
<% for tweet in @user.timeline %>
  <p class="tweet">
    <%= link_to image_tag(tweet["user"]["profile_image_url"]), "http://twitter.com/#{tweet["user"]["screen_name"]}" %>
    <%= link_to tweet["user"]["screen_name"], "http://twitter.com/#{tweet["user"]["screen_name"]}"%>
    <div class="tweet_text">
      <%= tweet["text"] %>
    </div>
  </p>
<% end %>

<div id="spoiler_list">
  <%= render "spoilers/list", :params => {:user_id => @user.id} %>
</div>
