	<div id="side">

    <%= render "form", :user => @user %>

		<div id="lists" class="side_content">
			<h3>Lists</h3>
			<% for list in @user.get_lists["lists"] %>
				<small><%= list["full_name"] %></small><br />
			<% end %>
		</div>

	  <div id="spoiler_tags" class="side_content">
	
  		<h3>Your Spoiler Tags</h3>
  
  	  <% for spoiler in @user.spoilers %>
  	    <%= spoiler.name %>
  	    <small><%= link_to "remove", [@user,spoiler], :method => :delete, :confirm => "really delete \"#{spoiler.name}\"?" %></small>
  	    <br />
  	  <% end %>
	  </div>

		<div id="popular_spoilers" class="side_content">
			<%= render "spoilers/popular"%>
		</div>
		
		<div id="rate_limit" class="side_content">
		  Twitter API Calls Remaining: <%= "#{@rate_limit["remaining_hits"]}/#{@rate_limit["hourly_limit"]}" %><br />
		  Resets: <%= @rate_limit["reset_time"] %>
		</div>
	</div>

	<div id="timeline">
	  <h2><%= link_to "Timeline", timeline_path %></h2>
    <%= render "tweets" %>
	</div>

