<table>
	<tbody>
		<tr>
			<td id="timeline" rowspan="2">
				<div>
				  <h2><%= link_to "Timeline", timeline_path %></h2>
				  <%= render "tweets" %>
				</div>
			</td>
			<td id="top_row">&nbsp;</td>
		</tr>
		
		<tr>	
			<td id="side">
					<div class="side_content">
						<strong>Add New Spoiler</strong>
			    	<%= render "form", :user => @user %>
					</div>

					<div id="lists" class="side_content">
						<h3>Lists</h3>
						<% for list in @user.get_lists["lists"] %>
							<small><%= link_to list["full_name"], timeline_path(:list_id => list["id"]) %></small><br />
						<% end %>
					</div>

				  <div id="spoiler_tags" class="side_content">
	
			  		<h3>Your Spoiler Tags</h3>
  
			  	  <% for spoiler in @user.spoilers %>
			  	    <%= spoiler.name %>
			  	    <small><%= link_to "remove", [@user,spoiler], :method => :delete, :confirm => "really delete \"#{spoiler.name}\"?" %></small>
			  	    <br />
			  	  <% end %>
				  </div>

					<div id="popular_spoilers" class="side_content">
						<%= render "spoilers/popular"%>
					</div>
		
					<div id="rate_limit" class="side_content">
					  Twitter API Calls Remaining: <%= "#{@rate_limit["remaining_hits"]}/#{@rate_limit["hourly_limit"]}" %><br />
					  Resets: <%= @rate_limit["reset_time"] %>
					</div>
			</td>
		</tr>
			
	</tbody>
</table>

