<% @title = "About" %>

<div id="about" class="static_page">
  <p>
    <h2>About</h2>
    Redactify is a twitter front-end for a user's timeline with tweets with specified tags redacted as to not spoil events that
    a user might not be able to watch in real time.
  </p>

  <p>
    <h2>Redactify is written and maintained by</h2>
    <ul>
      <li><%= auto_link("Dan McNevin dpmcnevin@redactify.com") %></li>
    </ul>
  </p>

	<p>
		<h2>Follow us on Twitter</h2>
		<ul>
			<li><%= "#{auto_link_twitter("@redactify")} - System updates and status" %></li>
			<li><%= "#{auto_link_twitter("@mental_thinking")} - Dan McNevin" %></li>
		</ul>
	</p>

  <p>
    <h2>Ackowledgements</h2>
    <ul>
			<li><%= link_to "Twitter", "http://twitter.com" %></li>
      <li><%= link_to "Ruby on Rails", "http://rubyonrails.com" %></li>
      <li><%= link_to "Heroku", "http://heroku.com" %></li>
      <li>Michael Bleigh's <%= link_to "twitter_auth", "http://github.com/mbleigh/twitter-auth"%> gem.</li>
    </ul>
  </p>
</div>