#welcome.static_page
  - if logged_in?
    #add_new_spoiler
      %h3 Add New Spoiler
      = render "timelines/form", :user => current_user
      or
      = link_to "Go To My Timeline", timeline_path
      #spoiler_explination
        You can hide tweets in your timeline that match your tags. For example: #lost, MLB, oscars

    #other_tags
      #user_tags
        %h3 Your Current Tags
        = render "spoilers/user", :user => current_user
  
      #public_tags
        %h3 Popular Tags
        = render "spoilers/popular", :user => current_user

  - else
  
    %p Redactify is a service that will allow you to view your twitter updates spoiler-free.
    
    %p 
      Simply login through
      = link_to "Twitter", "http://twitter.com"
      and set up tags that you want hidden by default.
    
    %p
      Example Screenshot of the application:
      %br
      = image_tag("sample_screen.png", :class => :example )

