<div id="welcome" class="static_page">
  <% if logged_in? %>
  <p>
    <h3>Add new spoiler tag</h3>
		<%= render "timeline/form", :user => current_user %> or <%= link_to "go to my timeline", timeline_path %>
		<h3>Your Current Tags</h3>
		<%= render "spoilers/user", :user => current_user %>
  </p>
	
	<p>
		<h3>Popular Tags</h3>
		<%= render "spoilers/popular", :user => current_user %>
	</p>
	<% else %>
		<p>
			Redactify is a service that will allow you to view your twitter updates spoiler-free.
		</p>
		
		<p>
			Simply login through <%= link_to "Twitter", "http://twitter.com" %> and set up tags that you want hidden by default.
		</p>
		
		<p>
			Example Screenshot of the application:<br />
			<%= image_tag("sample_screen.png", :class => :example )%>
		</p>
		
  <% end %>

</div>
