<div id="welcome" class="static_page">
  <% if logged_in? %>
  <p>
    <h3>Add new spoiler tag</h3>
		<%= render "timeline/form", :user => current_user %> or <%= link_to "go to my timeline", timeline_path %>
		<h3>Your Current Tags</h3>
		<%= render "spoilers/user", :user => current_user %>
  </p>
	
	<p>
		<h3>Popular Tags</h3>
		<%= render "spoilers/popular", :user => current_user %>
	</p>
	<% else %>
		<%= link_to 'Login via Twitter', '/login' %>
  <% end %>

</div>
