<div id="tweet_<%= redacted.id %>" class="<%= redacted.css_classes %>">
  <span class="user_info">
    <%= link_to image_tag(redacted.profile_image_url, :size => "50x50", :class => "user_image"), "http://twitter.com/#{redacted.screen_name}", :target => "_blank" %>
  </span> 

  <span class="tweet_text">
    <%= image_tag("lock.png") if redacted.protected?  %>
    <%= link_to redacted.screen_name, timeline_path(:screen_name => redacted.screen_name) %>
    <span class="redacted">REDACTED</span>
    <%= link_to "show", tweet_path(redacted.id), :method => :get, :remote => true, :class => "action show_redacted_tweet" %>
    <br />
    <small>
      <strong>matched tags:</strong>
      <%= redacted.tags.collect(&:name).join(", ") %>
    </small>
  </span>
</div>
