%div{:id => "tweet_#{redacted.id}", :class => redacted.css_classes}
  %span.user_info
    = link_to image_tag(redacted.profile_image_url, :size => "50x50", :class => "user_image"), "http://twitter.com/#{redacted.screen_name}", :target => "_blank"
  
  %span.tweet_text
    = image_tag("lock.png") if redacted.protected? 
    = link_to redacted.screen_name, timeline_path(:screen_name => redacted.screen_name)
    %span.redacted REDACTED
    = link_to "show", :url => tweet_path(redacted.id), :method => :get, :remote => true, :html => { :class => :action } 
    %br
    %small
      %strong matched tags: 
      = redacted.tags.collect(&:name).join(", ")