%table
  %tbody
    %tr
      %td#timeline
        = render "timelines/post_tweet"
        = link_to "update", @update_tweets_url, :remote => true, :method => :put if @update_tweets_url && RAILS_ENV == "development"
        #updated_tweets
        = render "timelines/tweets"
        / = javascript_tag "check_new_tweets('#{@update_tweets_url}')"
      %td#side
        .side_container
          #spoiler_tags.side_content
            = render "timelines/form", :user => @user
            = render "spoilers/user", :user => @user
        .side_container
          #lists.side_content
            %h3 Lists
            %ul
              - for list in @user.get_lists
                %li= link_to list["name"], list_path(list["id"])
                
          #twitter_search.side_content
            = render "searches/form"
        
          #twitter_trends.side_content
            = render "users/trends"
  
          #rate_limit.side_content
            = render "users/rate_limit", :rate_limit => @user.rate_limit_status

