<table>
	<tbody>
		<tr>
			<td id="timeline">
					<%= render "timelines/post_tweet" %>
					<%= link_to_remote "update", :url => @update_tweets_url, :method => :put %>
					<div id="updated_tweets"></div>
				  <%= render "timelines/tweets" %>
					<% periodically_call_remote(:url => @update_tweets_url, :frequency => '10', :method => :put) %>
			</td>

			<td id="side">
					<div class="side_content">
						<h3>Add New Spoiler Tag</h3>
			    	<%= render "timelines/form", :user => @user %>
					</div>

					<div id="lists" class="side_content">
						<h3>Lists</h3>
						<ul>
							<li><%= link_to "@#{current_user.login}", timeline_path %></li>
							<% for list in @user.get_lists["lists"] %>
								<li><%= link_to list["full_name"], list_path(list["id"]) %></li>
							<% end %>
						</ul>
					</div>

				  <div id="spoiler_tags" class="side_content">
	
			  		<h3>Your Spoiler Tags</h3>
						<%= render "spoilers/user", :user => @user %>
				  </div>

					<div id="popular_spoilers" class="side_content">
						<h3>Popular Tags</h3>
						<%= render "spoilers/popular", :user => @user %>
					</div>
		
					<div id="rate_limit" class="side_content">
						<%= render "users/rate_limit", :rate_limit => @user.rate_limit_status %>
					</div>
			</td>
		</tr>
			
	</tbody>
</table>

