!!! 5

%html
  %head
    %meta{"http-equiv" => "Content-type", :content => "text/html; charset=utf-8"}
    %title= @title || "Redactify"
    = csrf_meta_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag "jquery", "rails", "application", "endless_page"

  %body
    #wrapper
      #header
        #title
          %h1
            = link_to 'redactify', '/'
          %span#sub_heading twitter without spoilers

        #user_bar
          = render :partial => "users/bar"
          
        %div.clearfix
      
      - if flash[:error]
        #flash{:class => 'flash error'}= flash[:error]
      - if flash[:notice]
        #flash{:class => 'flash notice'}= flash[:notice]

      #contents
        = yield

      #footer
        Copyright &copy; 2010
        = link_to "redactify", "mailto:dpmcnevin@redactify.com"
        |
        = link_to_unless_current "about", static_url("about")
    
    - if RAILS_ENV == "production"
      = render "static/google_analytics"
      = render "static/user_voice"