!!!Strict

%html
  %head
    %meta{"http-equiv" => "Content-type", :content => "text/html; charset=utf-8"}
    %title= @title || "Redactify"
    = stylesheet_link_tag 'application'
    = javascript_include_tag :defaults, "endless_page", :cache => true

  %body
    #wrapper
      #header
        #title
          %h1
            = link_to 'redactify', '/'
            %small
              %span{:style => "font-size: 0.4em; color: green;"} alpha
          %span#sub_heading twitter without spoilers

        #user_bar
          - if logged_in?
            = image_tag(current_user.profile_image_url, :width => 24, :height => 24)
            Logged in as 
            %strong="@#{current_user.login}."
            %br
            = link_to "My Timeline", timeline_path
            |
            = link_to 'Log out', logout_path
          - else
            = link_to 'Login via Twitter', '/login'
        %div.clearfix
      
      - if flash[:error]
        #flash{:class => 'flash error'}= flash[:error]
      - if flash[:notice]
        #flash{:class => 'flash notice'}= flash[:notice]

      #contents
        = yield

      #footer
        Copyright &copy; 2010
        = link_to "redactify", "mailto:dpmcnevin@redactify.com"
        |
        = link_to_unless_current "about", static_url("about")
    
    - if RAILS_ENV == "production"
      = render "static/google_analytics"
      = render "static/user_voice"