<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= @title || "Redactify" %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag :defaults, :cache => true %>
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
				<div id="title">
        	<h1><%= link_to 'redactify', '/' %><small><span style="font-size: 0.4em; color: green;">alpha</span></small></h1>
					<span id="sub_heading">twitter without spoilers</span>
        </div>

        <div id='user_bar'>
          <% if logged_in? %>
            <%= image_tag(current_user.profile_image_url, :width => 24, :height => 24) %> Logged in as <strong>@<%= current_user.login %></strong>. <br />
						<%= link_to_unless_current "My Timeline", timeline_path %> | <%= link_to 'Log out', '/logout' %>
          <% else %>
						<%= link_to 'Login via Twitter', '/login' %>
					<% end %>
        </div>
        <div class='clearfix'></div>
      </div>
      
      <% if flash[:error] %>
        <div id="flash" class='flash error'><%= flash[:error] %></div>
      <% end %><% if flash[:notice] %>
        <div id="flash" class='flash notice'><%= flash[:notice] %></div>
      <% end %>
      
			<% if RAILS_ENV == "something" %>
				<p class="warning">
			    This is a <strong>super pre-alpha</strong> service, don't expect to have any acceptable level of service, security, or functionality yet.
			  </p>
			<% end %>

      <div id='contents'>
        <%= yield %>
      </div>

	    <div id='footer'>
	      Copyright &copy; 2010 <%= link_to "redactify", "mailto:dpmcnevin@redactify.com" %> | <%= link_to_unless_current "about", static_url("about") %>
	    </div>

    </div>
    
		<% if RAILS_ENV == "production" %>
    	<%= render "static/google_analytics" %>
    	<%= render "static/user_voice" %>
		<% end %>


  </body>
</html>
